body {
  background: #000000;
}

.morph-section {
  width: 400px;
  height: 400px;
  text-align: center;
  font-family: monospace;
  color: #fff;
  position: fixed;
  left: 50%;
  top: 45%;
  margin-top: -200px;
  margin-left: -200px;
}

.info {
  font-family: monospace;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  position: fixed;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, -50%)
}

a {
  color: #fff;
}
